:443 {
    log {
        output stderr
    }

    tls /etc/letsencrypt/live/your-domain/fullchain.pem /etc/letsencrypt/live/your-domain/privkey.pem

    root * /var/www/rep2
    
    php_fastcgi 127.0.0.1:9000
    file_server
}